<%= render "shared/header" %>
<div class='main'>


  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>投稿一覧</h2>
    <ul class='item-lists'>
      <%= render partial: 'resumes/resume', collection: @resumes %>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>
<%= link_to(new_resume_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>投稿する</span>
  <%= image_tag 'fishing_bass.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
<%= render "shared/footer" %>