<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to image_tag('TuReTa-logo.png' , size: '182x120'), "/" %>

  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">釣果の編集</h2>
    <%= form_with(model: @resume, local: true) do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <%# 商品画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        画像（任意）
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
    <%# /商品画像 %>
    <%# 商品名と商品説明 %>
    <div class="new-items">
      <div class="weight-bold-text">
        タイトル
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"items-text", id:"item-name", placeholder:"必須 40文字まで", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          釣果の要約
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :resume_text, class:"items-text", id:"item-info", placeholder:"釣果の要約だけ書いてください。重要なポイントは書かないようにしてください。（必須 1,000文字まで）" ,rows:"7" ,maxlength:"1000" %>
      </div>
      <div class="items-explain">
        <div class="weight-bold-text">
          釣果の本文
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :answer, class:"items-text", id:"item-info", placeholder:"釣果の詳しい状況を記入してください。購入者にのみ公開されます。（必須 10,000文字まで）" ,rows:"7" ,maxlength:"10000" %>
      </div>
    </div>

    <%# 販売価格 %>
    <div class="sell-price">
      <div class="weight-bold-text question-text">
        <span>販売価格<br>(¥0〜9,999,999)</span>
        <a class="question" href="#">?</a>
      </div>
      <div>
        <div class="price-content">
          <div class="price-text">
            <span>価格</span>
            <span class="indispensable">必須</span>
          </div>
          <span class="sell-yen">¥</span>
          <%= f.text_field :price, class:"price-input", id:"item-price", placeholder:"例）300" %>
        </div>

      </div>
    </div>

    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "編集完了" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

