<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @resume.user.nickname %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @resume.image ,class:"item-box-img" %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        ¥ <%= @resume.price.to_s(:delimited) %>
      </span>
    </div>
    <h2 class="name">
      <%= @resume.title %>
    </h2>
    <div class="item-explain-box">
      <span><%= @resume.resume_text %></span>
    </div>
    <% if user_signed_in? %>
      <% if current_user.id == @resume.user_id %>
        <%= link_to "商品の編集", edit_resume_path(@resume.id), method: :get, class: "item-red-btn" %>
        <p class="or-text">or</p>
        <%= link_to "削除", '#', method: :delete, method: :delete, class:"item-destroy" %>
      <% else %>
        <%= link_to "購入画面に進む", '#', class:"item-red-btn"%>
      <% end %>
    <% end %>
  </div>
  <%# /商品の概要 %>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <button type="submit" class="comment-btn">
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメントする<span>
      </button>
    </form>
  </div>
  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-item-btn">
      後ろの商品 ＞
    </a>
  </div>
</div>

<%= render "shared/footer" %>
